---
import SEO from "../components/SEO.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  canonical?: string;
  ogImage?: string;
  noindex?: boolean;
  schema?: object | object[];
}

const props = Astro.props;
---

<!doctype html>
<html lang="cs">
  <head>
    <SEO {...props} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
  </head>
  <body class="flex min-h-screen flex-col bg-white">
    <Navigation />
    <main id="main-content" tabindex="-1" class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
